@tailwind base;
@tailwind components;
@tailwind utilities;


/*
ROOT
 */
:root {
    --black-color: #595959;
    --white-color: #FFE6FF;
    --purple-color: #660939;
    --pink-dark-color: #B31166;
    --pink-light-color: #E0147E;
}

@font-face {
    font-family: Folks;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Folks-Normal.ttf");
}

a {
    text-decoration: none;
}
